<div class=" col-sm-3  clickable-row" data-href="/videos/<%=video.id%>">
	<div class="crt">
		<img src="<%=video.thumbnails[0]['url']%>">
		<h4 colspan="2"><%=video.title%></h4>
	</div>
</div>
<script>
	$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
	});
</script>