<header class="header">
  <div class="inner_header">
    <div class="logo">
      <img src="https://1wyo4j2clpiy1tn1rufbc1j6-wpengine.netdna-ssl.com/wp-content/uploads/Zype-LogeGray.png">
    </div>
    <%= render partial: 'layouts/nav'%>
  </div> 
</header>
<div class="content">
  <div class="row">
    <div>
      <%@videos.each do |video|%>
        <%=render partial: 'videos/index_row', :locals => {:video => video, :page => @page} %>
      <%end%>
    </div>
  </div>
</div>